<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>My Finance Tracker</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">My Finance Tracker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="active" href="#">Register</a></li>
                <li><a href="#">List</a></li>
                <li><a href="#">Accounts</a></li>
                <li><a href="#">Budget</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container theme-showcase" role="main">
    <div class="row">
        <div class="col">
            <h1>Register</h1>
            <p>Register a transaction.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="date" class="form-control" name="date" id="date" required>
                        </div>
                        <div class="col-sm-3">
                            <select class="form-control" name="account" id="account" required>
                                <option value="1" selected>Chequing</option>
                                <option value="2">Savings</option>
                                <option value="3">Credit Card</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="description" id="description" placeholder="Enter Description">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <select class="form-control" name="category" id="category">
                                <option>Select a Category</option>
                                <option value="1">Bills</option>
                                <option value="2">Groceries</option>
                                <option value="3">Shopping</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" class="form-control">Tags</button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="number" class="form-control" name="value" id="value" placeholder="$ 0.00" required>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="form-control">Calc</button>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="form-control">Expense</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <a href="#">Write a note</a>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-3">
                            <button type="reset" class="form-control btn btn-default">Clear</button>
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="form-control btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>