{% extends "base.html" %}

{% block content %}
<h1>Compound Interest Calculator</h1>
<form method="post" action="compound_interest">
    <div class="form-group">
        <input type="number" id="goal" name="goal" value="" required placeholder=" Goal" class="form-control"><br>
        <input type="number" id="initial_amount" name="initial_amount" value="" required placeholder=" Initial Amount" class="form-control"><br>
        <input type="number" id="monthly_rate" name="monthly_rate" value="" required placeholder=" Monthly Interest Rate" class="form-control"><br>
        <input type="number" id="months" name="months" value="" required placeholder=" Number of Months" class="form-control"><br>
    </div>
    <button type="submit">Submit</button>
</form>
{% if gap %}
<p>Gap: {{ gap }}</p>
{% endif %}
{% if monthly_deposit %}
<p>Monthly deposit: {{ monthly_deposit }}</p>
{% endif %}

{% endblock %}